$animation-speed: .2s;

$ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);

.card {
  width: 250px;
  height: 400px;

  cursor: pointer;

  animation: anim 1s linear;

  &__media {
    height: 75%;
    width: 100%;

    background-position: top !important;
  }

  &__content {
    background: white;

    border-radius: 4px 4px 0 0;

    transition: transform $animation-speed $ease-out-sine;
  }

  &__text {
    color: white;

    transition: color $animation-speed;

    &_title {
      font-weight: 600 !important;

      line-height: 1.1 !important;
    }

    &_description {
      opacity: 0;

      transition: opacity $animation-speed;

      color: white;
    }
  }

  &:hover {
    .card__content {
      transform: translateY(-70%);
    }

    .card__text {
      color: black;

      &_description {
        opacity: 1;
      }
    }
  }
}

@keyframes anim {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}
