$animation-speed: .2s;

$ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);

.card {
  width: 250px;
  height: 400px;

  cursor: pointer;

  animation: anim 1s linear;

  &__media {
    height: 75%;
    width: 100%;
  }

  &__content {
    transition:
            transform $animation-speed $ease-out-sine,
            background $animation-speed;
  }

  &__text {
    color: white;

    transition: color $animation-speed;

    &_title {
      font-weight: 600 !important;

      line-height: 1.1 !important;
    }

    &_description {
      opacity: 0;

      transition: opacity $animation-speed;

      color: white;
    }
  }

  &:hover {
    .card__content {
      background: rgba(255, 255, 255, 1);

      transform: translateY(-70%);

      border-radius: 4px 4px 0 0;
    }

    .card__text {
      color: black;

      &_description {
        opacity: 1;
      }
    }
  }
}

@keyframes anim {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
