$animation-speed: .2s;

$ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);

$empty-offset: 420 * 0.25;

.card {
  width: 260px;
  height: 420px;

  cursor: pointer;

  animation: slit-in-vertical 0.3s ease-out both;

  &__media {
    height: 75%;
    width: 100%;

    object-fit: fill !important;

    background-position: top !important;
  }

  &__media-image {
    position: absolute;

    transform: scale(1.15);

    object-fit: contain;
  }

  &__media-container {
    height: 75%;
    width: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    min-height: 25%;

    display: flex;
    flex-direction: column;

    background: white;

    border-radius: 4px 4px 0 0;

    transition: transform $animation-speed $ease-out-sine;

    &:hover {
      transform: translateY(calc(-100% + #{$empty-offset}px));

      .card__text {
        color: black;

        &_description {
          opacity: 1;
        }
      }
    }
  }

  &__text {
    color: white;

    transition: color $animation-speed;

    &_title {
      font-size: 1.1rem !important;

      font-weight: 600 !important;

      line-height: 1.1 !important;
    }

    &_description {
      opacity: 0;

      transition: opacity $animation-speed;
    }
  }
}

@keyframes anim {
  0% {
    transform: rotateY(0deg);
    opacity: 0;
  }

  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

.slit-in-vertical {
  animation: slit-in-vertical 0.45s ease-out both;
}

@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateY(0);
  }
}

